#Database config
DATABASE_HOST=localhost
DATABASE=web3_chess
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=admin
DATABASE_PORT=5432

#App config
NODE_ENV=development
PORT=3003
ALLOWED_ORIGINS='http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:3003'


#Escrow config
API_KEY = p0RX5NPjNr0tbXE3uh5YW7Y42q1WNviP
APPLICATION_ID = 28beadaa-df25-48f6-a07c-5e19b0c0d230
ESCROW_NETWORK = devnet
XCROW_ENVIRONMENT = production


# Platform essentials
# parikshit chrome phantom wallet keys
PLATFORM_PUBLIC_KEY=
PLATFORM_PRIVATE_KEY=